body {
    background-attachment: fixed; /*pra tirar a barrinha da pagina*/
}
.containerregistro {
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerregistro2 {
    align-items: center;
    background-color: #d4d4d4;
    padding: 50px;
    margin: 143px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}
.containerregistro h2 {
    text-align: center;
    margin-bottom: 20px;
}
.containerregistro form {
    display: flex;
    flex-direction: column;
}
.containerregistro label {
    margin-bottom: 5px;
}
.containerregistro input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}
.containerregistro input:hover {
    border-color: #530808;
}
.containerregistro button {
    padding: 10px;
    background-color: #d31515;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.containerregistro button:hover {
    background-color: #530808;
    transform: scale(1.05);
}
.containerregistro p {
    text-align: center;
    margin-top: 10px;
}
.containerregistro a {
    color: #d31515;
    text-decoration: none;
    transition: color 0.3s;
}
.containerregistro a:hover {
    color: #530808;
    text-decoration: underline;
}