/* importando a fonte de fora */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: black; /* cor do fundo da pagina*/
    color: white; /* cor de todas as fontes */
    text-align: center; /* centralizar todos textos */
    margin: 0px; /* pra deixar a pagina sem borda */
}

header {
    background-color: rgb(95, 23, 23); /* fundo do cabeçalho */
    padding: 15px; /* Menos preenchimento */
}

.container {
    display: flex; /* Configura o contêiner como um flex container */
    justify-content: center; /* pra deixar em linha E sua posição */
    flex-wrap: wrap; /* Permite que os blocos quebrem para a linha seguinte se não houver espaço suficiente */
    /*flex-direction: column;  /* pra ficar em coluna */
    /*align-items: center;  /* pra centralizar a coluna */
    padding-bottom: 20px; /* aumentar o espaçamento nas partes de baixo */
}

.titulo {
    font-family: "Source Code Pro", monospace; /* fonte */
    text-align: center; /* centralizar texto */
    padding: 10px; /* Menos preenchimento para não ocupar tanto espaço */
}

a {
    text-decoration: none; /* Remove o sublinhado do link */
    color: white; /* cor da fonte */
}

.bloco {
    font-family: "Source Code Pro", monospace; /* fonte do bloco */
    text-align: center; /* centralizar texto */
    border: 2px solid white; /* borda */
    border-radius: 15px; /* Menos arredondado */
    width: 400px; /* Reduzido */
    margin: 8px; /* Menor espaço entre blocos */
    padding: 15px; /* Menos preenchimento */
}

/* modifica a imagem que esta dentro da classe bloco */
.bloco img {
    width: 250px; /* tamanho de imagem */
}

/* O seletor ':hover' é utilizado para aplicar estilos a um elemento quando passa o cursor sobre ele. Ocorrem apenas quando está visualizando o elemento com o mouse. */
.bloco:hover {
    background-color: rgb(63, 63, 63); /* cor de fundo */
    /* Muda o cursor para uma mãozinha indicando que o elemento é clicável */ 
    cursor: pointer;
    /* Aumenta o tamanho do elemento em 10% quando o mouse passa sobre ele */
    transform: scale(1.1);
    /* Aplica uma transição suave para as mudanças de cor de fundo e escala */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

footer {
    background-color: rgb(95, 23, 23); /* cor fundo */
    padding: 15px; /* Mais preenchimento */
    line-height: 1.5; /* Menos espaçamento entre linhas */
}

/* Estilo para a tela de carregamento */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
    opacity: 1;
}

.loader {
    width: 300px;
    height: 300px;
    background: url('image/dbd_loading.gif') no-repeat center center;
    background-size: contain;
}

/* Estilo para o conteúdo principal */
.content {
    display: none;
}

/* Após o carregamento da página, exibe o conteúdo e oculta a tela de carregamento */
body.loaded .loader-wrapper {
    opacity: 0;
    visibility: hidden;
}

body.loaded .content {
    display: block;
}